.body{
    display: block;
    justify-content: center;
    width: 600px;
    height: 1066px;
    outline: solid;
}

.header{
    display: inline-flex;
    justify-content: space-between;
    text-align: top;
    background-color: rgb(0, 222, 177);
    width: 600px;
    height: 60px;
    
}

.page_title{
    font-size: x-large;
}

blank {
    opacity: 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.b {
    border-width: 25px 
    border-solid black;
}