body{
    display: block;
    justify-content: center;
    outline: solid;
}
* {
    box-sizing: border-box;

}

.header{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(218, 17, 68);
    font-size: xx-large;
    width: 100%;
    height: 15%;
}

.page_title{
    text-align: justify;
}
.columns {
    float: left;
    width: 100%;
    padding: 13px;
    min-height: 200px;
    border:1px solid;
    text-align: center;


}

.all-rows:after {
    content:"";
    display: table;
    clear:both;
}

.sidebar_button{
    display: flex;
    justify-content: center;
    margin: 5% 10%;
    padding: 1%;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    
    color: black;
}